<!DOCTYPE html>
<html lang="pt-br">
<!-- <%- include('head') %> -->
<body>
    <!-- <%- include('cabecalho') %> -->
    <section class="entrada">
        <h2>Preencha os campos.</h2>
        <h3>Após preencher os dados, a mesma aparecera ao lado direito.
            <form method="post">
                <input name="nome" placeholder="Nome"  type="text">
                <input name="telefone" placeholder="Telefone" type="number">
                <input name="email" placeholder="E-mail" type="text">
                <button>ENVIAR</button>
            </form>
            <!-- <%- include('saida') %>
            <%- include('sucesso') %> -->
    </section>
    </body>
    </html>