<!DOCTYPE html>
<html lang="pt-br">

<body>
    
    <h1>Lista de amigos</h1>
    
    <section class="entrada">
        <h2>Preencha os campos.</h2>
        <h3>Após preencher os dados, a mesma aparecera ao lado direito.
            <form method="post">
                <input name="nome" placeholder="Nome"  type="text">
                <input name="telefone" placeholder="Telefone" type="number">
                <input name="email" placeholder="E-mail" type="text">
                <button>ENVIAR</button>
            </form>
        </section>
        <section class="saida">
            <h3></h3>
            <p></p>
            <p></p>
        </section>
        
    </body>
    </html>